.lh-header {
  display: flex;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  position: fixed;
  z-index: 1;
  width: 100%;
    .lh-logo {
      height: 48px;
      flex: 1;
      img {
        max-height: 100%;
      }
    }
}
.site-layout-background {
  background-color:#fff;
}
.lh-sider {
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 64px;
  left:0;
  right: 0;
}
.lh-content {
  position: relative;
  padding-left: 200px;
}